@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-background: rgba(196, 208, 248, 1); /* Main background */
  --color-background-popup: rgba(0, 0, 0, 0.8); /* Popup overlay */
  --color-background-header-footer: rgba(
    217,
    217,
    217,
    1
  ); /* Header/Footer background */
  --color-background-profile: rgba(
    163,
    163,
    163,
    1
  ); /* Profile Icon background */

  --color-button-action: rgba(119, 123, 179, 1); /* Primary action button */
  --color-button-upload: rgba(20, 174, 92, 1); /* Upload button */
  --color-button-cancel: rgba(255, 0, 0, 1); /* Cancel button */

  --color-border-request: rgba(175, 175, 175, 1); /* Request section border */
  --color-border-input: rgba(156, 156, 156, 1); /* Input field border */

  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
}

.font-serif {
  font-family: 'Bai Jamjuree', serif;
}
